@import '../../style/variable.scss';

charts-tab {
	position: absolute;
	width: 100%;
	&.display-none {
		// background: red;
		.pie-chart-container {
			display: none;
		}
	}
	.pie-chart-container {
		width: 100%;
		height: 400px;
		padding: 60px 0;
		box-sizing: border-box;
	}
	svg {
		width: 280px;
		height: 280px;
	}
	.pie-chart {
		display: inline-block;
		position: relative;
		transform: rotate(-90deg);
		circle {
			fill: transparent;
			transform-origin: center center;
			stroke-width: 140;
		}
	}
	.bar-chart-container {
		width: 100%;
		box-shadow: $shadow;
		background: white;
		border-radius: 8px;
		padding: 16px;
		box-sizing: border-box;
		.bar-chart-content {
			width: 100%;
			padding: 16px;
			box-sizing: border-box;
			display: flex;
			.title {
				flex: 1 1 0;
				font-size: 16px;
				color: #333;
			}
			.per {
				flex: 1 1 0;
				font-size: 16px;
				color: #333;
			}
			.chart {
				flex: 8 1 0;
				.percentage-wrapper {
					height: 100%;
					animation: barPercentage 0.8s linear;
				}
				.chart-percentage {
					height: 100%;
				}
			}
			.spending {
				flex: 2 1 0;
				text-align: right;
				font-size: 16px;
				color: #333;
			}
		}
	}
}

@keyframes barPercentage {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
