@import '../../style//variable.scss';

hkb-ledger {
	display: block;
	width: 100%;
	// position: absolute;
	.container {
		width: 100%;
		margin: 10px auto;
		&-input {
			padding: 8px 0;
			position: relative;
			.init-button,
			.delete-button-zone {
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 14px;
				color: $blue;
				display: flex;
				.cancel-button {
					margin-left: 8px;
				}
			}
			.clickable:hover {
				cursor: pointer;
				filter: brightness(0.9);
				font-weight: 600;
			}
			.invalid {
				border: 1px solid $red !important;
				box-shadow: none !important;
			}
		}
		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 12px 0;
			&:last-child {
				margin-bottom: 0;
			}
			.group {
				display: flex;
				align-items: center;
				flex: 1;
				> span {
					padding-right: 8px;
				}
				&.item-right {
					justify-content: flex-end;
				}
			}
		}
		.button {
			border: 1px solid $blue;
			background-color: white;
			padding: 4px 6px;
			margin-right: 4px;
			border-radius: 8px;
			color: $blue;
			text-align: center;
			&:hover {
				cursor: pointer;
				&:hover {
					filter: brightness(0.9);
					font-weight: 600;
				}
			}
			&:not(:last-of-type) {
				margin-right: 5px;
			}
			&--active {
				background-color: $blue;
				color: white;
			}
			&--large {
				flex: 1;
			}
		}
		input {
			&:hover {
				cursor: pointer;
			}
			&[type='text']:hover {
				cursor: text;
			}
			&[type='text'],
			&[type='date'] {
				outline: none;
				background-color: white;
				box-shadow: $shadow;
				border: none;
				padding: 6px;
				border-radius: 8px;
				width: 70%;
				font-size: 14px;
			}
			&[type='radio'] {
				display: none;
			}
			&[type='number'] {
				width: 60%;
				border: none;
				padding: 6px;
				border-radius: 8px;
				margin-right: 6px;
				box-shadow: $shadow;
				background-color: white;
				text-align: right;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				&:focus {
					outline: none;
				}
				:hover {
					cursor: text;
				}
				&:hover {
					cursor: text;
				}
			}
		}
		select {
			width: 50%;
			min-width: auto;
			padding: 6px;
			border-radius: 8px;
			border: none;
			box-shadow: $shadow;
			&:hover {
				cursor: pointer;
			}
			option {
				padding: 6px;
			}
		}
		&-monthly {
			.group {
				display: flex;
				justify-content: center;
			}
		}
		&-items {
			margin: 0 auto;
		}
		.submit-button {
			margin: 12px 0;
			padding: 8px 0;
		}
	}
}
