* {
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}

#app {
	width: 100%;
	min-height: 100vh;
	background: #f5f6fa;
	padding-bottom: 32px;
	#app-content {
		width: 920px;
		margin: 0 auto;
		min-height: calc(100vh - 77px);
	}
}

i {
	cursor: pointer;
}
