@import '.././style/variable.scss';
@import './font/nanumgothic.css';
@import './font/quicksand.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}

body {
	font-family: 'Quicksand', 'Nanum Gothic', sans-serif;
}

#app {
	width: 100%;
	min-height: 100vh;
	background: $background-color;
	padding-bottom: 32px;
	display: flex;
	flex-direction: column;
	#app-content {
		flex: 1;
		width: $min-width;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
}

i {
	cursor: pointer;
}
