@import './font/nanumgothic.css';
@import './font/quicksand.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}

body {
	font-family: 'Quicksand', 'Nanum Gothic', sans-serif;
}

#app {
	width: 100%;
	min-height: 100vh;
	background: #f5f6fa;
	padding-bottom: 32px;
	#app-content {
		width: 920px;
		margin: 0 auto;
	}
}

i {
	cursor: pointer;
}
