@import '../../style/variable.scss';

monthly-filter {
	display: block;
	margin: 8px 0;
	.checkbox-group {
		width: 168px;
		margin: 2px auto;
		display: flex;
		cursor: pointer;
		input {
			margin-top: 1px;
			margin-right: 4px;
		}
		label {
			display: flex;
			flex: 1;
			justify-content: space-between;
			margin-left: 4px;
			color: #333;
		}
		.total-income {
			color: $blue;
		}
		.total-spending {
			color: $red;
		}
	}
}
