hkb-ledger-by-date {
	display: block;
	width: 100%;
	border-top: 1px solid gray;
	.date__header {
		width: 100%;
		display: flex;
		border-bottom: 1px solid gray;
		padding: 5px;
		.date__date {
			flex: 3;
			text-align: left;
		}
		.date__income {
			flex: 1;
			text-align: right;
			color: mediumseagreen;
		}
		.date__spending {
			flex: 1;
			text-align: right;
			color: dodgerblue;
		}
	}
}

.hide {
	display: none;
}
