@import '../../style/variable.scss';

hkb-ledger-by-date {
	display: block;
	width: 100%;
	margin-bottom: 4px;
	.date__header {
		width: 100%;
		display: flex;
		padding: 5px;
		.date__date {
			flex: 3;
			text-align: left;
			color: #555;
			font-weight: 500;
		}
		.date__income {
			flex: 1;
			text-align: right;
			color: $blue;
			padding-right: 8px;
		}
		.date__spending {
			flex: 1;
			text-align: right;
			color: $red;
			padding-right: 8px;
		}
	}
}

.hide {
	display: none !important;
}
