hkb-header {
	display: flex;
	background: white;
	justify-content: space-between;
	padding: 16px 32px;
	.header {
		width: 1080px;
		padding: 8px;
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		color: #1891ff;
	}
	.user-info {
		display: flex;
		height: 100%;
		border-radius: 8px;
		border: 0px solid #ccc;
		padding: 8px;
		justify-content: flex-end;
		cursor: pointer;
		color: #777;
		transition: color 0.2s;
		&:hover {
			color: #333;
			font-weight: 500;
		}
		.user-name {
			text-align: right;
			font-size: 16px;
			height: 100%;
			color: inherit;
			line-height: 24px;
			margin-right: 8px;
		}
		i {
			color: inherit;
		}
	}

	.flex-1 {
		flex: 1;
	}
}
