@import '../../style/variable.scss';

hkb-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	padding: 8px 32px;
	width: 100%;
	min-width: 920px;
	.title {
		padding: 8px;
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		color: $blue;
	}
	.user-info {
		margin-left: auto;
		display: flex;
		height: 100%;
		border-radius: 8px;
		border: 0px solid #ccc;
		padding: 8px;
		align-items: center;
		color: #777;
		transition: color 0.2s;
		span {
			i {
				cursor: pointer;
				&:hover {
					color: #333;
					font-weight: 500;
				}
			}
			&:not(:last-child) {
				margin-right: 12px;
				color: inherit;
			}
		}
	}
}
